
<header class="p-3 bg-primary" style="position: fixed; top: 0; left: 0; right:0; z-index: 100;">
  
  
  <div class="container-fluid">
    <div
      class="d-flex flex-wrap align-items-center justify-content-between justify-content-lg-start"
    >
    <a href="{% url "home" %}">
     <div class="bluesky mx-3">Blue Sky</div>
    </a>
      
     <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
        </svg>
        All Categories
      </button>
      <ul class="dropdown-menu">
        {% for category in categories %}
        <li><a class="dropdown-item" href="{% url "category" category.slug  %}">{{ category.name }}</a></li>
        {% endfor %}
        
      </ul>
    </div>
      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
      >
        <li><a href="{% url "home" %}" class="nav-link px-2 text-warning">Home</a></li>
        <li><a href="#" class="nav-link px-2 text-white">All Posts</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Add Post</a></li>
        <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
        <li><a href="#" class="nav-link px-2 text-white">About</a></li>
      </ul>
      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input
          type="search"
          class="form-control form-control-light text-bg-light"
          placeholder="Search..."
          aria-label="Search"
        />
      </form>
      <div class="text-end">
        <button type="button" class="btn btn-outline-light me-2">Login</button>
        <button type="button" class="btn btn-warning">Sign-up</button>
      </div>
    </div>
  </div>
</header>

