{% extends "base.html" %}
{% block title %}About Us{% endblock %}

{% block content %}
<div class="container" style="margin-top: 100px">
    <div class="">
        <h1>About Us</h1>
        <p>Welcome to our blog! We're a passionate team dedicated to sharing stories,
            insights, and tips that inspire and inform. 
            Our mission is to create a space where ideas spark, 
            conversations thrive, and readers find value in every post.</p>
        <p>Whether we're diving into the latest trends, offering practical advice, 
            or exploring creative topics, 
            we aim to deliver content that's authentic, engaging, and relatable. 
            Our writers come from diverse backgrounds, 
            bringing unique perspectives to keep you informed and entertained.</p>
        <p>Join us on this journey—let's explore, learn, and connect together! 
            Have ideas or feedback? Reach out through our contact page. 
            Happy reading!</p>
    </div>
</div>

{% endblock %}