{% extends "base.html" %}


{% block title %} {{ post.title }} {% endblock %}
{% block content %}
<div class="detail-post container">
    <div class="d-flex justify-content-between">
        <a href={% url "edit-post" post.slug %} class="btn btn-info">Edit</a>
        <a href={% url "delete-post" post.slug %} class="btn btn-danger">Delete</a>
    </div>
    <div class="container m-2 p-2">
        <div class="title">
        <h2>{{ post.title }}</h2>
        <h6>{{ post.author }}</h6>
        <p>{{ post.created_at }}</p>
        </div>
        {% for section in post.sections.all %}
        {% if section.image %}
        <img class="img-fluid" src="{{ section.image.url }}" alt="{{ section.title }}" style="height: 100vh; object-fit: contain;"/>
        {% endif %}
        <h5>{{ section.title }}</h5>
        <p class="content">{{ section.content| linebreaks }}</p>
        {% endfor %}
    </div>
   
</div>
{% endblock %}